@media only screen and (min-width: 1000px) {
    .notes {
      display: grid;
      grid-template-columns: 33% 33% 32%;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .notes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
 
    }
    
    }
  